<h1>All tags connected to Articles </h1>

<ul>
  <% @tags.each do |tag| %>
  <li>  <%=link_to tag.name, tag_path(tag) %></li>
  <% if logged_in? %>
  <li>  <%=link_to " Delete tag", tag_path(tag), method: :delete, data: {confirm: "Are you sure?"} %></li>
  <% end %>
  <% end %>
</ul>
